body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.brochureCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f4f4f9;
}

.brochureImage {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
